body {
  background: #ffff3f ;
}
.title {
  display: inline;
  color: black;
  background-color: deepskyblue;
  border-style: dotted dashed solid double;
  margin-left: 100px;
}
.title1 {
  margin-left: 0px;
}
.center {
  text-align: center;
}
#first {
  display: inline;
  color: darkred;
  border: 4px inset;
  outline: 10px outset #7400b8;
  font-size: 200%;
  background-color: #80ffdb;
  margin-left: 21px;
}
.content {
  width: 550px;
  border: 10px solid black;
  outline: 15px inset rgb(255, 0, 200);
  box-sizing: border-box;
  background-color: crimson;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 25px 50px;
  font-style: oblique;
}
.content>h2 {
  color: black;
  background-color: deepskyblue;
  margin-top: 0px;
  border: 2px dashed;
}
.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: dodgerblue;
  margin-bottom: 30px;
}
.flexbox-container>div {
  width: 150px;
  margin: 10px;
  font-size: 20px;
  line-height: 25px; /*การทำให้ text จัดอยู่ center ในแนวตั้ง */
  background-color: yellow;
  border: 6px outset red;
  border-width: 5px 20px;
  cursor: pointer;
}
.flexbox-container>div>a {
  text-decoration: none;
}
.flexbox-login {
  display: flex;;
  background-color: #80ffdb;
  margin-left: auto;
}
.flexbox-login>div {
  width: 80px;
  font-size: 1.3rem;
  border: 6px inset indianred;
  border-width: 5px 15px;
  border-radius: 12px;
  line-height: 25px;
  margin: 8px;
}
.flexbox-login>div>a {
  text-decoration: none;
}
.login-container {
  width: 450px;
  height: 200px;
  margin: auto;
  background-color: chartreuse;
  border: 10px solid black;
  outline: 15px inset chocolate;
  margin-top: 20px;
}
.login-container>h2 {
  border: 1px solid black;
  margin: 15px 150px;
  background-color: crimson;
  color: cornflowerblue;
}
.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: darkorange;
}
