.title {
  display: inline;
  color: black;
  background-color: deepskyblue;
  border-style: dotted dashed solid double;
  margin-left: 100px;
}
.title1 {
  margin-left: 0px;
}
.center {
  text-align: center;
}
#first {
  display: inline;
  color: darkred;
  border: 4px inset;
  outline: 10px outset #7400b8;
  font-size: 200%;
  background-color: #80ffdb;
  margin-left: 21px;
}
